@import './mixin';
// reset css starts 
*, *::before, *::after {
    padding: 0;
    margin: 0;
    @include box(border-box);
}

html, body,
header, main, footer,
section, div,
h1, h2, h3, h4, h5, h6, 
p, span, ul, li
img, figure,
label, input,
textarea,
a, i{
    margin:0;
    padding:0;
    font-size: 100%;
}

header, 
main, footer,
section, 
div, figure, 
nav{
    display: block;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

img{
    vertical-align: middle;
    display: inline-block;
    max-width: 100%;
}

ul{
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 16px;
    vertical-align: middle;
    text-decoration: none;
    color: var(--text-color);
    display: inline-block;
    outline: none;
}

span, i{
    display: inline-block;
}

button {
    border:none;
    background-color: none;
    cursor: pointer;
    outline:none;
}

input:focus, select:focus{
    outline:none;
}
// reset css ends

h1 {
    @include font-xl;
}

h2 {
    @include font-lg;
    span {
        @include font-lg;
    }
}

h3 {
    line-height: normal;
    font-size: 50px;
}

h5 {
    @include font-md;
}

h6 {
    @include font-family(var(--font_secondary), 700);
    @include font-detail(19px, normal);
}

p{
    margin: 0;
    @include body-font;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
}

li {
    list-style: none;
}

.container {
    margin: 0 auto;
    max-width: 600px;
    padding-left: 20px;
    padding-right: 20px;
}

body {
    @include font-family(var(--font_secondary), 400);
    @include body-font;
    color: var(--text-color);
    line-height: 27px;
    margin: 0;
    &::-webkit-scrollbar {
        display: none;
    }
}

a {
    display: inline-block;
    font-family: var(--font_secondary);
    font-size: 17px;
}

span {
    @include font-detail(17px, normal);
}

.d-flex {
    @include flexbox();
}

.d-flex-col {
    @include flexColumn;
}

.d-align-center {
    @include align-item-center;
}

.d-just-center {
    @include just-center;
}

.d-just-btwn {
    @include space-between;
}

.dots {
    span{
        display: inline-block;
        height: 14px;
        width: 14px;
        border-radius: 100%;
        background-color: #8f8f8f;
        margin: 0 5px;
    }
}

.btn {
    @include button;
}

.btn-primary {
    @include btn-primary;
}

.btn-secondary {
    @include btn-secondary;
}