button, .btn {
    font-size: 1.25rem;
    height: 57px;
    width: 170px;
    color: var(--white);
    background-color: var(--btn-color);

    @include mq(576px) {
        font-size: 1rem;
    }

    @include mq(768px) {
        font-size: 1.15rem;
    }
}