:root {
  --primary-font: "Quark Bold";
  --secondary-font: "Quark Light";
  --third-font: 'Open Sans', sans-serif;
  --bs-dark-color: #1a1d20;
  --bs-dark-primary: #1c1c1c;
  --bg-sidebar: #34495e;
  --font-gray: #98a2ad;
  --bg-box-head: #e5e5e5;
  --bg-secondary-sidebar: #2c3e50;
  --black: #000000;
  --white: #ffffff;
  --bs-primary-color: #c6c6c6;
  --blue-color: #5faee3;
  --bs-supporting-color: #c850c0;
}
