@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
:root {
  --font_primary: "Poppins", sans-serif;
  --white-color: #FFFFFF;
  --black-color: #000000;
  --red-color: #7155d3;
  --cod-gray-color: #1A1A1A;
  --light-color: #E6E6E6;
}

:root {
  --font_primary: "Poppins", sans-serif;
  --white-color: #FFFFFF;
  --black-color: #000000;
  --red-color: #7155d3;
  --cod-gray-color: #1A1A1A;
  --light-color: #E6E6E6;
}

:root {
  --font_primary: "Poppins", sans-serif;
  --white-color: #FFFFFF;
  --black-color: #000000;
  --red-color: #7155d3;
  --cod-gray-color: #1A1A1A;
  --light-color: #E6E6E6;
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
}

html, body,
header, main, footer,
section, div,
h1, h2, h3, h4, h5, h6,
p, span, ul, li img,
figure,
label, input,
textarea,
a, i {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

header,
main, footer,
section,
div, figure,
nav {
  display: block;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

img {
  vertical-align: middle;
  display: inline-block;
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  font-size: 18px;
  line-height: 22px;
  display: inline-block;
  vertical-align: middle;
  color: var(--cod-gray-color);
  text-decoration: none;
  outline: none;
}

span, i {
  display: inline-block;
}

button {
  border: none;
  background-color: none;
  cursor: pointer;
  outline: none;
}

input:focus, select:focus {
  outline: none;
}

h1 {
  font-size: 32px;
  line-height: 40px;
  font-family: var(--font_primary);
  font-weight: normal;
}
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 48px;
    line-height: 63px;
  }
}
@media only screen and (min-width: 1200px) {
  h1 {
    font-size: 85px;
    line-height: 103px;
  }
}
h1 span {
  font-size: 32px;
  line-height: 40px;
  font-family: var(--font_primary);
  font-weight: normal;
}
@media only screen and (min-width: 768px) {
  h1 span {
    font-size: 48px;
    line-height: 63px;
  }
}
@media only screen and (min-width: 1200px) {
  h1 span {
    font-size: 85px;
    line-height: 103px;
  }
}

h2 {
  font-size: 28px;
  line-height: 34px;
  font-family: var(--font_primary);
  font-weight: normal;
  margin-bottom: 0;
}
@media only screen and (min-width: 768px) {
  h2 {
    font-size: 38px;
    line-height: 40px;
  }
}
@media only screen and (min-width: 1200px) {
  h2 {
    font-size: 48px;
    line-height: 58px;
  }
}

p {
  margin: 0;
  font-family: var(--font_primary);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  letter-spacing: normal;
  color: var(--cod-gray-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}
@media only screen and (min-width: 1200px) {
  p {
    font-size: 18px;
    line-height: 30px;
  }
}

span {
  font-size: 18px;
  line-height: 22px;
}

li {
  list-style: none;
}

.container {
  margin: 0 auto;
  max-width: 800px;
  padding-left: 20px;
  padding-right: 20px;
}

body {
  font-family: var(--font_primary);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  letter-spacing: normal;
  color: var(--cod-gray-color);
  color: var(--cod-gray-color);
  margin: 0;
}
@media only screen and (min-width: 1200px) {
  body {
    font-size: 18px;
    line-height: 30px;
  }
}
body::-webkit-scrollbar {
  display: none;
}

.d-flex {
  display: -ms-flex;
  display: flex;
}

.d-flex-col {
  flex-direction: column;
}

.d-align-center {
  align-items: center;
}

.d-just-center {
  justify-content: center;
}

.d-just-btwn {
  justify-content: space-between;
}

.btn {
  display: block;
  font-family: var(--font_primary);
  font-weight: 600;
  text-align: center;
  transition: all 0.3s ease;
  outline: none;
  cursor: pointer;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border-radius: var(--border-radius);
  text-decoration: none !important;
  position: relative;
  border: 1px solid;
  padding: 8px 15px;
  height: 40px;
  font-size: 14px;
  line-height: 20px;
  display: -ms-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (min-width: 1200px) {
  .btn {
    padding: 13px 20px;
    height: 45px;
    font-size: 18px;
    line-height: 22px;
  }
}

.btn-primary {
  background-color: var(--red-color);
  color: var(--white-color);
  border-color: transparent;
}
.btn-primary:hover {
  background-color: transparent;
  color: var(--red-color);
  border-color: var(--red-color);
}

.btn-secondary {
  background-color: var(--black-color);
  color: var(--white-color);
  border-color: transparent;
}
.btn-secondary:hover {
  background-color: var(--white-color);
  color: var(--black-color);
  border-color: var(--black-color);
}

.btn-small {
  width: 160px;
}

.btn-medium {
  width: 180px;
}

.btn-big {
  width: 240px;
}

.regular {
  font-weight: 400;
}

.semi-bold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.medium {
  font-weight: 500;
}

.text-upper {
  text-transform: uppercase;
}

.red-color {
  color: var(--red-color);
}

body {
  background-color: #2a2c2d;
  color: var(--white-color);
}

.stopwatch .container .wrapper {
  width: 100%;
}
.stopwatch .container .wrapper .timer {
  margin-top: 150px;
  margin-bottom: 80px;
}
.stopwatch .container .wrapper .timer .hours {
  font-size: 50px;
  margin-right: 10px;
}
.stopwatch .container .wrapper .timer .minutes {
  font-size: 45px;
  margin-right: 10px;
}
.stopwatch .container .wrapper .timer .seconds {
  font-size: 40px;
}
.stopwatch .container .wrapper .buttons .btn-row {
  -moz-column-gap: 20px;
       column-gap: 20px;
  margin-bottom: 40px;
}
.stopwatch .container .wrapper .buttons .btn-row input {
  background-color: darkgray;
  border-radius: 20px;
  padding: 5px 8px;
  width: 240px;
}
.stopwatch .container .wrapper ol li {
  font-size: 24px;
  list-style-type: decimal;
  margin-bottom: 6px;
  padding-left: 10px;
}

input[type=time] {
  border: none;
  color: var(--white-color);
  font-size: 16px;
  font-family: helvetica;
  width: 160px;
}

/* Wrapper around the hour, minute, second, and am/pm fields as well as 
the up and down buttons and the 'X' button */
input[type=time]::-webkit-datetime-edit-fields-wrapper {
  display: flex;
}

/* The space between the fields - between hour and minute, the minute and 
second, second and am/pm */
input[type=time]::-webkit-datetime-edit-text {
  padding: 6px 6px;
}

/* The naming convention for the hour, minute, second, and am/pm field is
`-webkit-datetime-edit-{field}-field` */
/* Hour */
input[type=time]::-webkit-datetime-edit-hour-field {
  background-color: #7155d3;
  border-radius: 15%;
  padding: 6px 8px;
}

/* Minute */
input[type=time]::-webkit-datetime-edit-minute-field {
  background-color: #7155d3;
  border-radius: 15%;
  padding: 6px 8px;
}

input[type=time]::-webkit-datetime-edit-second-field {
  background-color: #7155d3;
  border-radius: 15%;
  padding: 6px 8px;
}

/* AM/PM */
input[type=time]::-webkit-datetime-edit-ampm-field {
  background-color: #7155d3;
  border-radius: 15%;
  padding: 6px 8px;
}/*# sourceMappingURL=index.css.map */