@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?3ddlqh');
  src:  url('../fonts/icomoon.eot?3ddlqh#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?3ddlqh') format('truetype'),
    url('../fonts/icomoon.woff?3ddlqh') format('woff'),
    url('../fonts/icomoon.svg?3ddlqh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak-as: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-fashion:before {
  content: "\e958";
}
.icon-icon-band:before {
  content: "\e959";
}
.icon-icon-gemstore:before {
  content: "\e95a";
}
.icon-icon-diamond-stroke:before {
  content: "\e95b";
}
.icon-icon-women:before {
  content: "\e95c";
}
.icon-icon-men:before {
  content: "\e95d";
}
.icon-icon-google-play:before {
  content: "\e95e";
}
.icon-icon-apple:before {
  content: "\e95f";
}
.icon-icon-debit-card:before {
  content: "\e960";
}
.icon-icon-gift:before {
  content: "\e961";
}
.icon-icon-credit-card:before {
  content: "\e962";
}
.icon-icon-net-banking:before {
  content: "\e963";
}
.icon-icon-bhim-upi:before {
  content: "\e964";
}
.icon-icon-wallet:before {
  content: "\e965";
}
.icon-noun-share:before {
  content: "\e94d";
}
.icon-ship:before {
  content: "\e94e";
}
.icon-trash:before {
  content: "\e94f";
}
.icon-cart-bag:before {
  content: "\e950";
}
.icon-your-reward:before {
  content: "\e951";
}
.icon-frined-reward:before {
  content: "\e952";
}
.icon-ring-size:before {
  content: "\e953";
}
.icon-new:before {
  content: "\e954";
}
.icon-b2b:before {
  content: "\e955";
}
.icon-plus:before {
  content: "\e956";
}
.icon-minus:before {
  content: "\e957";
}
.icon-diamond-icon:before {
  content: "\e949";
}
.icon-dollor-icon:before {
  content: "\e94a";
}
.icon-cart-icon:before {
  content: "\e94b";
}
.icon-diamond-ring-icon:before {
  content: "\e94c";
}
.icon-play-icon:before {
  content: "\e945";
}
.icon-call-icon:before {
  content: "\e948";
}
.icon-file-upload:before {
  content: "\e914";
}
.icon-arrow-left:before {
  content: "\e947";
}
.icon-hours-delivery:before {
  content: "\e900";
}
.icon-add-to-cart:before {
  content: "\e901";
}
.icon-arrow-down:before {
  content: "\e902";
}
.icon-arrow-right:before {
  content: "\e903";
}
.icon-arrow-top:before {
  content: "\e904";
}
.icon-briefcase:before {
  content: "\e905";
}
.icon-calendar:before {
  content: "\e906";
}
.icon-call:before {
  content: "\e907";
}
.icon-camera:before {
  content: "\e908";
}
.icon-chat:before {
  content: "\e909";
}
.icon-check:before {
  content: "\e90a";
}
.icon-close:before {
  content: "\e90b";
}
.icon-contact-call:before {
  content: "\e90c";
}
.icon-contact-location:before {
  content: "\e90d";
}
.icon-contact-mail:before {
  content: "\e90e";
}
.icon-copy:before {
  content: "\e90f";
}
.icon-customer-service:before {
  content: "\e910";
}
.icon-delivery-truck:before {
  content: "\e911";
}
.icon-diamond:before {
  content: "\e912";
}
.icon-dislike:before {
  content: "\e913";
}
.icon-eye:before {
  content: "\e915";
}
.icon-eye-fill:before {
  content: "\e916";
}
.icon-eye-off:before {
  content: "\e917";
}
.icon-folder:before {
  content: "\e918";
}
.icon-gemstone:before {
  content: "\e919";
}
.icon-gmail:before {
  content: "\e91a";
}
.icon-gold:before {
  content: "\e91b";
}
.icon-green-check:before {
  content: "\e91c";
}
.icon-heart:before {
  content: "\e91d";
}
.icon-info-circle:before {
  content: "\e91e";
}
.icon-inspiration:before {
  content: "\e91f";
}
.icon-insta-fill-square:before {
  content: "\e920";
}
.icon-instagram:before {
  content: "\e921";
}
.icon-jewellary:before {
  content: "\e922";
}
.icon-like:before {
  content: "\e923";
}
.icon-linkedin:before {
  content: "\e924";
}
.icon-location:before {
  content: "\e925";
}
.icon-lock:before {
  content: "\e926";
}
.icon-magic-ring:before {
  content: "\e927";
}
.icon-magnetism:before {
  content: "\e928";
}
.icon-mail:before {
  content: "\e929";
}
.icon-mail1:before {
  content: "\e92a";
}
.icon-meta:before {
  content: "\e92b";
}
.icon-meta-fill-square:before {
  content: "\e92c";
}
.icon-mission:before {
  content: "\e92d";
}
.icon-monthly-wall-calendar:before {
  content: "\e92e";
}
.icon-new-arrival:before {
  content: "\e92f";
}
.icon-offer:before {
  content: "\e930";
}
.icon-outline:before {
  content: "\e931";
}
.icon-pencil:before {
  content: "\e932";
}
.icon-quote:before {
  content: "\e933";
}
.icon-quote1:before {
  content: "\e934";
}
.icon-search:before {
  content: "\e935";
}
.icon-secure-payment:before {
  content: "\e936";
}
.icon-share:before {
  content: "\e937";
}
.icon-shopping-bag:before {
  content: "\e938";
}
.icon-silver:before {
  content: "\e939";
}
.icon-solitaire:before {
  content: "\e93a";
}
.icon-solution:before {
  content: "\e93b";
}
.icon-star:before {
  content: "\e93c";
}
.icon-star1:before {
  content: "\e93d";
}
.icon-star2:before {
  content: "\e93e";
}
.icon-star-fill:before {
  content: "\e93f";
}
.icon-time:before {
  content: "\e940";
}
.icon-user:before {
  content: "\e941";
}
.icon-visa:before {
  content: "\e942";
}
.icon-wedding-ring:before {
  content: "\e943";
}
.icon-whatsapp:before {
  content: "\e944";
}
.icon-youtube:before {
  content: "\e946";
}
