.text-pera {
  max-width: 1206px;
}

.para-margin-bottom {
  margin-bottom: 24px;
}

.box-bg {
  box-shadow: 0px 0px 30px rgba(193, 193, 193, 0.35);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 100%;
}

.d-wrap {
  flex-wrap: wrap;
}

.d-flex-row {
  flex-direction: row;
}

.d-flex-column {
  @include flexColumn;
}

.d-align-center {
  @include align-item-center;
}

.d-just-around {
  justify-content: space-around;
}

.d-just-evenly {
  justify-content: space-evenly;
}

.d-just-between {
  @include space-between;
}

.d-just-center {
  @include flexCenter();
}

.d-flex {
  @include flexbox();
}

.t-center {
  text-align: center;
}

.btn-primary {
  @include btn-primary;
}

.btn-secondary {
  @include btn-secondary;
}

.btn-big {
  @include btn-big;
}

.btn-medium {
  @include btn-medium;
}

.btn-small {
  @include btn-small;
}

.bold-font {
  font-weight: 700;
}

.regular-font {
  font-weight: 400;
}

.data-red-color {
  color: var(--data-red-color);
}

.data-ferrari-red {
  color: var(--data-ferrari-red);
}

.show-aside {
  right: 0;
}

.text-uppercase {
  text-transform: uppercase;
}

.selected {
  padding-bottom: 14px;
  @include mq($device-md) {
    padding-bottom: 20px !important;
  }
}

.bg-data-white-smoke-color {
  background-color: var(--data-white-smoke-color);
}

.bg-white {
  background-color: var(--bs-white-color);
}