:root {
  --font-primary: "DM Sans", sans-serif;
  --bs-seashell-color: #f1f1f1;
  --f-color-: #008dd2;
  --data-red-color: #ff0000;
  --data-ferrari-red: #ff1616;
  --data-silver-chalice: #a8a8a8;
  --data-rangoon-green-color: #1a1a1a;
  --data-black-color: #000000;
  --bs-white-color: #fff;
  --mercury-color: #e6e6e6;
  --data-white-smoke-color: #f6f6f6;
  --rangoon-green-color: #1a1a1a;
  --data-river-bed: #4b5059;
  --data-aqua-haze-color: #f3f3f3;
  --data-lavender-pinocchio-color: #e1e1e1;
  --data-green-white: #e9e9e9;
}

$device-xs: 320px;
$device-sm: 576px;
$device-md: 768px;
$device-lg: 1024px;
$device-xl: 1200px;
$tablet: 992px;
$xxl: 1400px;
$container: 1560px;
$container-lg: 1700px;
