:root {
    --white-: #ffffff;
    --sunglow-: #faca36;
    --golden-grass-: #dd991d    ;
}

/* --------- Reset css Starts ------------ */

html, body, ul, i, li, form, header, section, div, p, h5, h4, h2, h1, span, ol, button, img, picture {
    margin: 0;
    padding: 0;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

ul, ol, li {
    list-style: none;
}

a {
    cursor: pointer;
    outline: none;
    text-decoration: none;
    color: black;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* ------------- Reset css ends -------------- */

/* ---------------- common css starts --------------- */

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.container {
    margin: 0 auto;
    max-width: 1080px;
}

body {
    color: #202020;
    font-family: 'Quicksand', sans-serif;
    font-size: 17px;
    line-height: 29px;
    font-weight: 400;
    margin: 0;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--sunglow-);
    border: 3px solid var(--sunglow-);
    font-size: 20px;
    width: 195px;
    height: 45px;
    padding: 6px 6px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    line-height: 40px;
    border-radius: 5px;
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
}

.btn:hover {
    border-color: transparent;
    background-color: var(--sunglow-);
    color: #000000;     
}

.golden-grass {
    color: var(--golden-grass-) !important;
}

.sunglow {
    color: var(--sunglow-);
}

.bg-white {
    color: var(--white-);
}

h1 {
    font-size: 70px;
    line-height: 40px;
    font-family: 'Economica', sans-serif;
    font-weight: 700;
}

h2 {
    font-size: 50px;
    line-height: normal;
    font-family: 'Economica', sans-serif;
    font-weight: 700;
}

.section-heading {
    margin-bottom: 18px;
}

h3 {
    line-height: normal;
    font-size: 50px;
}

h4 {
    font-size: 40px;
    line-height: normal;
}

h5 {
    line-height: normal;
    font-family: 'Economica', sans-serif;
    font-size: 34px;
    font-weight: 700;
}

a {
    display: inline-block;
    font-size: 18px;
}

h6 {
    font-weight: 700;
    line-height: normal;
    font-size: 17px;
}

p {
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
}

span {
    line-height: normal ;
}

.d-flex {
    display: flex;
}

.d-flex-col {
    flex-direction: column;
}

.d-align-center {
    align-items: center;
}

.d-just-center {
    justify-content: center;
}

.d-just-btwn {
    justify-content: space-between;
}

.dots span{
    display: inline-block;
    height: 14px;
    width: 14px;
    border-radius: 100%;
    background-color: #ffffff;
    margin: 0 8px;
}

.dot-active {
    background-color: #fba800 !important;
}

/* ------------------ common css ends ------------------- */

/* ------------- header css starts --------------------- */

header {
    height: 120px;
    width: 100%;
    background-color: #000000;
}

header .container {
    position: relative;
    width: 100%;
    justify-content: flex-end;
}

.header-logo {
    position: absolute;
    left: 0;
    top: 0;
    height: 167px;
    width: 168px;
}

.header-logo picture {
    position: relative;
    max-width: 168px;
    height: 100%;
}

.header-logo img {
    position: absolute;
    top: 16px;
    left: 0;
    right: 0;
}

.circle {
    position: absolute;
    top: 18px;
    left: 4px;
    background: transparent;
    height: 162px;
    width: 162px;
    border-radius: 100%;
    box-shadow: 0 0 0 12px #000000;
}

.nav-lists > li > a {
    color: var(--white-);
    font-size: 20px;
    line-height: 60px;
    padding: 30px 0;
    transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
}

.nav-lists > li > a:hover {
    color: var(--golden-grass-);
}

.nav-lists > li:not(:last-child) {
    margin-right: 20px;
}

.nav-icons {
    margin-left: 34px;
}

.nav-icons > a:not(:last-child) {
    margin-right: 14px;
}

/* ------------- header css ends --------------------- */

/* --------------- banner css starts --------------------  */

.banner-section {
    position: relative;
    min-height: 622px;
}

.banner-section > img {
    position: absolute;
    object-fit: cover;
    inset: 0;
    height: 100%;
    z-index: -1;
    width: 100%;
}

.banner-section .container {
    position: relative;
    justify-content: flex-end;
}

.banner-content {
    position: relative;
    width: 49%;
    z-index: 3;
}

.banner-content h1 {
    text-transform: uppercase;
    margin-bottom: 10px;
}

.banner-content p {
    color: var(--white-);
    letter-spacing: 1px;
    line-height: 36px;
    margin-bottom: 12px;
}

.banner-section .dots {
    bottom: -144px;
    left: 42%;
    position: absolute;
}

/* --------------- banner css ends --------------------  */

/* ---------------- our-services css starts ---------------- */

.our-services {
    padding-top: 88px;
    padding-bottom: 46px;
}

.services-heading {
    margin: 0 auto;
    max-width: 850px;
}

.services-heading p {
    text-align: center;
    line-height: 30px;
    letter-spacing: 1px;
}

.service-boxes {
    flex-wrap: wrap;
    padding: 42px 0;
    margin: 0 -20px;
}

.service-boxes > .service-box {
    width: 33.33%;
    padding: 0 20px;
}

.service-boxes > .service-box > picture {
    max-width: 270px;
    margin-bottom: 22px;
}

.service-boxes > .service-box > picture > img {
    width: 100%;
}

.service-boxes > .service-box > .service-content h5 {
    text-transform: uppercase;
    margin-bottom: 15px;
}

.service-boxes > .service-box > .service-content > p {
    line-height: 30px;
    letter-spacing: 1px;
    text-align: center;
}

/* ---------------- our-services css ends ---------------- */

.menu-section {
    position: relative;
    background-color: #101311;
}

.menu-section::after {
    position: absolute;
    width: 39.6%;
    content: '';
    z-index: 2;
    top: 0;
    bottom: 0;
    background-color: #e6dad4;
    left: 60.4%;
}

.menu-section .container {
    width: 100%;
}

.menu-wrapper {
    padding-top: 94px;
    padding-bottom: 99px;
    background-color: #101311;
    text-align: center;
    max-width: 736px;
    padding-right: 88px;
}

.menu-wrapper h2 {
    margin-bottom: 20px;
}

.menu-switch {
    width: 612px;
    margin: 0 auto;
    margin-bottom: 60px;
}

.menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
    border-radius: 5px;
    border: 2px solid var(--sunglow-);
    color: var(--sunglow-);
    width: 195px;
    height: 42px;
    transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
}

.menu-btn:hover {
    color: #000000;
    background-color: var(--sunglow-);
}

.yellow-bg {
    background-color: var(--sunglow-);
    color: #000000;
}

.menu-section .container > h2 {
    line-height: 60px;
    text-align: center;
    color: var(--sunglow-);
    margin-bottom: 26px;
}

.menu-lists {
    flex-wrap: wrap;
    row-gap: 25px;
}

.menu-box {
    position: relative;
    width: 45%;
}

.menu-box::after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background: #675956;
    height: 1px;
}

.menu-box-heading {
    font-weight: 400;
    line-height: 60px;
    color: #dfd1a1;
    margin-bottom: 10px;
}

.menu-box-content {
    color: #d0c0ac;
    margin-bottom: 24px;
}

.menu-box-content p {
    text-align: left;
    letter-spacing: 2px;
    font-size: 14px;
    line-height: 18px;
}

.menu-box-content .first {
    color: #a9a8a6;
    font-size: 16px;
    letter-spacing: 1px;
}

.likes picture {
    min-width: 14px;
    max-width: 14px;
    margin-right: 5px;
}

.likes picture img {
    width: 100%;
}

.view-all {
    margin-top: 22px;
    margin-right: 15px;
    justify-content: flex-end;
}

.right-angle-icon {
    margin-left: 7px;
}