/* Reset css starts */

html, body, ul, i, li, form, header, section, div, p, h5, h4, h2, h1, span, ol, button, img, picture {
    margin: 0;
    padding: 0;
}

ul, ol, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

/* Reset css ends */

/* icon css starts */

@font-face {
    font-family: 'icomoon';
    src:  url('/assets/fonts/icomoon.eot?je34lu');
    src:  url('/assets/fonts/icomoon.eot?je34lu#iefix') format('embedded-opentype'),
      url('/assets/fonts/icomoon.ttf?je34lu') format('truetype'),
      url('/assets/fonts/icomoon.woff?je34lu') format('woff'),
      url('/assets/fonts/icomoon.svg?je34lu#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-search:before {
    content: "\e986";
  }
  .icon-facebook:before {
    content: "\ea90";
  }
  .icon-instagram:before {
    content: "\ea92";
  }
  .icon-whatsapp:before {
    content: "\ea93";
  }
  .icon-telegram:before {
    content: "\ea95";
  }
  .icon-twitter:before {
    content: "\ea96";
  }
  
  

/* icon css ends  */

/* common css starts */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1600px;
}

body {
    color: black;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.clearfix::before,
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

h1, p , h2, h3, h5 {
    line-height: 1;
}

.btn {
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding: 20px 30px;
    color: white;
    background-color: #00bec9;
    font-size: 20px;
    border-radius: 8px;
}

.btn:hover {
    background-color: blue;
    transition: all 0.5s ease-out;
}

.icon-instagram:hover {
    background: linear-gradient(
        45deg,
        #f09433 0%,
        #e6683c 25%,
        #dc2743 50%,
        #cc2366 75%,
        #bc1888 100%
      );
}

.icon-facebook:hover {
    background: linear-gradient(
        45deg,
        #33baf0 0%,
        #1823bc 25%,
        #1823bc 50%,
        #1823bc 75%,
        #1823bc 100%
      );
}

.icon-twitter:hover {
    background: linear-gradient(
        45deg,
        #33baf0 0%,
        #1896bc 25%,
        #1880bc 50%,
        #1888bc 75%,
        #187abc 100%
      );
}

.icon-whatsapp:hover {
    background: linear-gradient(
        45deg,
        #9ef033 0%,
        #379113 25%,
        #0d6b0d 50%,
        #2d791e 75%,
        #1c8a1c 100%
      );
}

/* common css ends */

/* custom css starts  */

.video-section {
    padding-top: 140px;
    padding-bottom: 140px;
}

.video-section .container {
    display: flex;
    column-gap: 38px;
    align-items: center;
}

.video-content {
    text-align: right;
}

.video-content h2 {
    text-align: right;
    line-height: 1.2;
    font-size: 50px;
    margin-bottom: 50px;
    color: #313243;
    font-weight: 600;
}

.video-content p {
    text-align: right;
    margin-bottom: 50px;
    font-size: 28px;
    line-height: 1.3;
    color: #313243;
}

.video-btn-one {
    background-color: #fcc302;
}

.video-image-section {
    position: relative;
}

.video-image-section::after {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 480px;
    background-color: rgba(218, 172, 0, 0.7);
}

.video-image-section::before {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    top: 315px;
    left: 290px;
    right: 0;
    bottom: 0;
    width: 87.5%;
    height: 200px;
    width: 250px;
    background-color: #fcc302;
}


.video-image-section .img2 {
    cursor: pointer;
    position: absolute;
    z-index: 2;
    height: 84px;
    width: 84px;
    margin: auto;
    inset: 0;
}

.service-section {
    color: white;
    padding-top: 95px;
    padding-bottom: 95px;
    background-color: #fcc302;
}

.main-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 73%;
    margin:0 auto;
}

.service-section h2 {
    text-align: center;
    font-size: 74px;
    font-weight: 700;
}

.service-section .title-p {
    line-height: 1.2;
    text-align: center;
    margin-top: 40px;
    font-size: 32px;
    font-weight: 400;
}

.boxes {
    display: flex;
    justify-content: space-between;
    padding: 0 33px;
    margin-top: 95px;
}

.boxes .box {
    display: flex;
    width: 33.33%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boxes .box .box-img {
    height: 352px;
    width: 342px;
    border: 5px solid white;
}

.boxes .box img {
    width: 100%;
}

.service-section .boxes .box .prices {
    font-weight: 600;
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
    column-gap: 35px;
    font-size: 42px;
}

.service-section .boxes .box .prices .p1 {
    position: relative;
}

.service-section .boxes .box .prices .p1::after {
    content: '';
    display: block;
    position: absolute;
    top: 40%;
    left: -10px;
    width: 100px;
    z-index: 2;
    border: 3px solid white;
}

.service-section .boxes .box a {
    font-size: 25px;
    font-weight: 600;
    padding: 15px 50px;
    border-radius: 30px;
    margin-top: 30px;
}