@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/* Reset css starts */

html, body, ul, li, header, section, div, p, h2, h1, span, ol, button, img, picture {
    margin: 0;
    padding: 0;
}

ul, ol, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

/* Reset css ends */

/* common css starts */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    max-width: 1400px;
    padding: 0 20px;
}

body {
    color: black;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

.clearfix::before,
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

img {
    width: 100%;
}

/* common css ends */

/* custom css starts */

.main-header {
    color: white;
    padding: 20px 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
    text-align: center;
}

.header-logo-text {
    color: white;
    font-size: 24px;
}

.fa-bars {
    float: left;
    font-size: 24px;
    padding-top: 5px;
}

.fa-magnifying-glass {
    float: right;
    font-size: 24px;
    padding-top: 5px;
}

/* main heading section css starts */

.main-section {
    padding:80px 0;
}

.main-section > .container > div {
    display: inline-block;
}

.main-section .image-section {
    position:relative;
}

.main-section .image-section img {
    object-fit: cover;
    width:550px;
    height:610px;
}

.main-section .image-section::after {
    content: '';
    position: absolute;
    left: 110px;
    top: 186px;
    bottom:0;
    right:0;
    width: 500px;
    height: 500px;
    background-image: linear-gradient(45deg, #feca02, #fe7ec9);
    z-index: -1;
}

.main-section .content-section{
    float:right;
    width:550px;
    margin-top: 95px;
    margin-right: 155px;
}

.main-section .content-section h1{
    color:rgb(72, 141, 244);
    font-size: 72px;
    line-height: 1.1;
    padding-bottom:15px;
}

.main-section .content-section span{
    font-size: 18px;
    font-weight: 700;
    line-height: 40px;
    color:rgb(22, 22, 22)
}

.content-grid-section{
    position: relative;
    top: -166px;
    left: 300px;
    bottom: 0;
    right: 0;
}

.content-grid-section .box{
    float:left;

    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;

    padding:50px 0;
    background-color: #38c4c1;
    height:200px;
    width:200px;
    text-align: center;
}

.content-grid-section .box i{
    font-size:40px;
    padding-bottom:20px;
    color:white;
}

.content-grid-section .box h2{
    color:white;
}

.content-grid-section .box:nth-child(2){
    background-color: orange;
}

.content-grid-section .box:nth-child(3){
    background-color: #fe7ec9;
}

.content-grid-section .box:nth-child(4){
    background-color: #488df4;
}

.content-grid-section .box:hover{ 
    transform: scale(1.05);
}

/* main heading section css ends  */

/* main grid section css starts  */

.main-grid {
    text-align: center;
    padding: 40px 0;
}

.main-heading h4{
    font-size: 24px;
    color: gray;
    font-weight: 300;
}

.main-heading h2 {
    font-size: 36px;
    padding-bottom: 40px;
}

.grid-column {
    float: left;
}

.grid-one {
    text-align: right;
    width: 37.5%;
}

.grid-two {
    width: 25%;
}

.grid-three {
    text-align: left;
    width: 37.5%;
}

.grid-column-box {
    padding: 35px 50px;
}

.grid-column-box:not(:last-child) {
    margin-bottom: 45px;
}

.grid-column-box h5 {
    font-size: 20px;
    padding-bottom: 20px;
}

.grid-column-box p {
    font-size: 18px;
    color: gray;
    font-style: italic;
}

.grid-column-image {
    height: 606px;
    width: 100%;
    object-fit: cover;
}

/* main grid section css ends  */

/* footer css starts  */

footer {
    background-color: black;
    text-align: center;
    color: white;
    line-height: 3;
    font-size: 14px;
}

/* footer css ends  */

/* custom css ends */