:root {
    --font_primary: 'Montserrat', sans-serif;;
    --white-color: #FFFFFF;
    --black-color: #000000;
    --red-color: #FF0000;
    --cod-gray-color: #1A1A1A;
    --light-color: #E6E6E6;
}
 
$device-xs: 320px;
$device-sm: 576px;
$device-md: 768px;
$tablet: 992px;
$device-lg: 1024px;
$device-xl: 1200px;
$container: 1560px;
$container-lg: 1700px;