$font-body: "soleil reguler";
$ly-regular: "LyonDisplay-Regular";

$stone-color: #112f47;
$white-color: #ffffff;
$black-color: #000000;
$primary-color: #FF615C;
$secondary-color: #4934A6;

$device-xs: 320px;
$device-sm: 576px;
$device-md: 768px;
$tablet: 992px;
$device-lg: 1024px;
$device-xl: 1200px;
$container: 1560px;
$container-lg: 1700px;