:root {
    --font_primary: 'Myanmar MN';
    --font_secondary: 'Lato', sans-serif;
    --white-color: #FFFFFF;
    --black-color: #000000;
    --gallery-white-color: #EAEAE3;
    --border-radius: 4px;
    --gimblet-color: #C3AA7A;
}
 
$device-xs: 320px;
$device-sm: 576px;
$device-md: 768px;
$tablet: 992px;
$device-lg: 1024px;
$device-xl: 1200px;
$container: 1560px;
$container-lg: 1700px;