:root {
    --font_primary: 'DM Sans', sans-serif;
    --white-color: #FFFFFF;
    --rose-color: #FD35B5;
    --black-color: #000000;
    --red-color: #FF1616;
    --border-radius: 4px;
    --bg-color: #f1f1f1;
    --border-color: #E9E9E9;
    --border-color-secondary: #A8A8A8;
}
 
$device-xs: 320px;
$device-sm: 576px;
$device-md: 768px;
$tablet: 992px;
$device-lg: 1024px;
$device-xl: 1200px;
$container: 1560px;
$container-lg: 1700px;