@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/* Reset Css Starts */

html, body, div, span, applet, object, iframe, blockquote, pre, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
a {
    color: black;
    text-decoration: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Reset Css Ends */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.clearfix::before,
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

header {
    position: fixed;
    background: rgba(255, 255, 255, 0.1);
    top: 0;
    z-index: 1;
    width: 100%;
}

.header-logo-text {
    font-weight: 900;
    font-size: 24px;
    color: white;
    line-height: 3;
}

.container {
    margin: 0 auto;
    max-width: 1400px;
    padding: 0 20px;
}

.header-nav {
    float: right;
}

.header-nav .nav-menu li {
    float: left;
    padding: 0 20px;
}

.header-nav .nav-menu li:last-child {
    padding-right: 0;
}

.header-nav .nav-menu li a {
    line-height: 4.5;
    color: white;
}

.header-nav .nav-menu li a:hover {
    color: darkgray;
}
.header-nav .nav-menu li i:hover {
    color: darkgray;
}

.header-nav .nav-menu li i {
    line-height: 4.5;
    color: white;
    cursor: pointer;
}

.banner-image {
    position: relative;
}

.bg-img {
    max-height: 100vh;
    object-position: center;
    object-fit: cover;
    width: 100%;
    position: relative;
}


.text-section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.text-section h1 {
    font-size: 50px;
}

.text-section p {
    font-size: 20px;
    line-height: 1.2;
}

.text-section h1,p {
    padding-bottom: 15px;
}

.btn .btn1 {
    cursor: pointer;
    background: none;
    padding: 10px;
    margin-right: 5px;
    color: white;
    border: 2px solid white;
    border-radius: 3px;
}

.btn1:hover {
    background-color: #11B8C8;
    border: 2px solid lightblue;
}

.btn .btn2 {
    cursor: pointer;
    padding: 10px;
    color: white;
    border: 2px solid lightblue;
    background-color: #11B8C8;
    border-radius: 3px;
}

.boxes .container {
    /* clear: both;  */
    overflow: hidden;
}

.boxes .box {
    float: left;
    text-align: center;
    padding: 80px 30px;
    width: 25%;
}

.boxes .box i {
    background-color: #f5f5f5;
    border-radius: 50%;
    font-size: 50px;
    color: #11B8C8;
    padding: 20px;
}

.boxes .box h3 {
    padding: 10px 0;
}

.box:hover i {
    color: white;
    background-color: #11B8C8;
}

.box p {
    padding-bottom: 5px;
    color: gray;
}

footer {
    clear: both;
    text-align: center;
    color: white;
    background-color: black;
    line-height: 2;
}