:root {
    --primary-font: 'Lexend Deca', sans-serif;
    --secondary-font: "Urbanist", sans-serif;
    --bs-dark-color: #1a1d20;
    --bs-dark-primary:#1c1c1c;
    --black: #000000;
    --bs-main-color:#fff;
    --bs-primary-color:#c6c6c6;
    --bs-two-secondary-color: #29a9fd;
    --bs-supporting-color: #C850C0;
}